* {
  padding: 0;
  margin: 0;
}

:root{
  --primaryDarkestColour: #1D98A1;
  --primaryMediumColour: #23B9C4;
  --primaryLightestColour: #4BC5CE;
  --titleColour: #343a40;
  --textColour: #868e96;
  --sectionPadding: 48px;
  --iconColour: #495057;
  --projectIconColour: var(--iconColour);
  --primaryFont: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--textColour);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
